<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khashayarmortazavi.testgeofence">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".GeofenceTransitionsIntentService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWgp0U35YooDdCWlYam7E_ziiVE9rYag8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddGeofenceActivity"
            android:label="Add Geofence"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".SaveArraylistActivity"
            android:label="Save ArrayList"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MapViewGeofenceActivity"
            android:label="View GeoFences"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SearchAddressActivity"
            android:label="Search for address"
            android:parentActivityName=".MainActivity" />

        <!--activity required to show ad overlay-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>